/* Container */
.order-complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Breadcrumb */
  .breadcrumb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .breadcrumb i {
    margin-right: 5px;
  }
  
  .breadcrumb span {
    margin: 0 5px;
  }
  
  .breadcrumb-current {
    color: #007bff;
  }
  
  /* Content */
  .order-complete-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .order-icon img {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .order-complete-content h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }
  
  .order-details {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-details p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  .track-order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .track-order-btn i {
    margin-left: 8px;
  }
  
  .track-order-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .order-details {
      width: 90%;
    }
  
    .order-complete-content {
      padding: 20px;
    }
  }