.product-category-h {
    width: 250px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  padding: 5px;
  }
  
  .category-name-image-h img{
      width: 100%;
      height:200px;
      border-radius: 10px;
        background-repeat: no-repeat;
      object-fit: cover;
      background-position: center;
    }
    
    
    
    .category-name-product-h p{ color: rgb(0, 0, 0);font-size: 15px;text-align: center;padding: 2px;}
    
    .seeproducts33{
      font-size: 15px;
      background-color: rgb(19, 137, 240);
      padding: 5px 20px;
      color: white;
      border: none;
      border-radius: 10px;
      margin-top: 5px;
      cursor: pointer;
    }
    
    @media (max-width: 768px) {
      .product-category-h {
        width: 140px;
    
      }
      
      
      
      .category-name-image-h img{
        width: 100%;
        height:120px;
      }
      
    
      .category-name-product-h p{font-size: 12px;font-weight: 500;}
    
      .seeproducts33{
        font-size: 12px;
        padding: 5px 5px;
       
      }
    
    }
    