

.header {
  display: flex;
  align-items: center;
gap: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}


.mcard {
  background-color: #D9F0FF;
  border-radius: 8px;
  padding: 16px;
  width: fit-content;
  color: #333;
  text-align: left;
  margin: 40px 0px;
}

.mcard-header {
  font-size: 14px;
  color: #333;
  margin-bottom: 16px;
}

.mcard-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-section h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  color: #555;
}

.card-section p {
  font-size: 14px;
  margin: 0;
  padding: 2px;
}

.breakdown {
  border-top: 1px solid #ccc;
  padding-top: 8px;
  margin-top: 8px;
}




  /* tracking */

  .tracking-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
  }
  
  .tracking-title {
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .tracking-timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  
  .tracking-row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  
  .tracking-date-time {
    flex: 1;
    text-align: right;
    padding-right: 20px;
  }
  
  .tracking-date {
    font-size: 0.9rem;
    color: #555;
  }
  
  .tracking-time {
    font-size: 0.9rem;
    color: #777;
  }
  
  .tracking-circle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .tracking-dot {
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  
  .tracking-line {
    width: 2px;
    height: 70px;
    background-color: #d3d3d3;
    position: absolute;
    top: 12px;
  }
  
  /* .tracking-status-info {
 
  } */
  
  .tracking-status {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
  
  .tracking-location {
    font-size: 0.9rem;
    color: #777;
  }
  

  @media (max-width: 768px) {
  
     
  .tracking-row {
   
    gap: 0px;
  }
  
    .tracking-line {
      height: 90px;
    
    }
}