.main-content {
  background-image: url('/images/houses-86188372_640.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.success-box {
  background-color: #33a733;
  border: 4px solid #7ae97a;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.message2 {
  font-size: 20px;
  font-weight: bold;
}

.login-button2 {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}