
.orders-container h2 {
  margin-bottom: 10px;
}

.table-wrapper {
  overflow-x: auto;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.orders-table th,
.orders-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.orders-table th {
  background-color: #f4f4f4;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table .status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  color: #fff;
  display: inline-block;
}

.orders-table .status.shipped {
  background-color: #4caf50;
}

.orders-table td .edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  
}

.orders-table td .edit-btn:hover {
  color: #0056b3;
}


.shipped {
  font-size: 14px;
  background-color: #D9F0FF;
  color: #1389F0;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  white-space: nowrap;
}

.delivered{
font-size: 14px;
background-color: #c5f6dd;
color: #179757;
margin-bottom: 10px;
padding: 5px 10px;
border-radius: 5px;
border: none;
white-space: nowrap;
}

.returned{
font-size: 14px;
background-color: #F8EAEA;
color: #EC5959;
margin-bottom: 10px;
padding: 5px 10px;
border-radius: 5px;
border: none;
white-space: nowrap;
}

.cancel-btn {
  font-size: 14px;
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* toggle start */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle end */


.AddProduct {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}


/* modal  start*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tagform{width: 600px;}

/* modal  start end*/


/* confarmation box */


.confirmation-box {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.icon {
  margin-bottom: 20px;
}

.icon-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.message {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.no-button {
  background-color: #ffffff;
  color: #333;
}

.yes-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.button:hover {
  opacity: 0.9;
}

.yes-button:hover {
  background-color: #0056b3;
}

/* confarmation box end */





/* modal start */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.form {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  font-size: 14px;
  color: #333333;
}

.form-input {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
  color: #555555;
  background-color: #f8f8f8;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #ffffff;
}

.quantity-range {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.range-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-input {
  flex: 1;
}

.range-icon {
  font-size: 16px;
  color: #555555;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancel-button,
.save-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
}

.cancel-button {
  background: #ffffff;
  color: #333333;
  border: 1px solid #000000;
}

.cancel-button:hover {
  background: #f8f8f8;
}

.save-button {
  background: #007bff;
  color: #ffffff;
  border: none;
}

.save-button:hover {
  background: #0056b3;
}



/* modal  start*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.image-uploader {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.add-image {
  width: 200px;
  height: 200px;
  background-color: #D9F0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.add-image-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #666;
  gap: 10px;
}

.add-image input {
  display: none;
}

.image-preview {
  display: flex;
  gap: 10px;
  width: 700px;
  overflow-x: auto;
  padding: 5px;
}

.image-container {
  width: 200px;
  height: 200px;
  position: relative;
  border: 2px solid #1389F0;
  border-radius: 8px;
  flex-shrink: 0;
}


.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button:hover {
  background: red;
}



/* modal  end*/

     @media (max-width: 1046px) {
.tagform{width: 90vw;}
     }