.category-list {
  width: 100%;
  margin-top: 50px;
}

.category-name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #1389F0;
  font-weight: 600;
  margin-bottom: 30px;
}

.category-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2F3234;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 19px;
  gap: 5px;
}

.products-container {

  overflow-x: auto; /* Enable horizontal scroll */
  display: flex;
  gap: 15px;
 width: 100%;
 scroll-behavior: smooth;
}

.products-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a clean look */
}



.category-container{overflow-x: auto; /* Enable horizontal scroll */
  display: flex;
  gap: 15px;
 width: 100%;}


 
.product-category-h {
  width: 250px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
padding: 5px;
}



.category-name-image-h img{
  width: 100%;
  height:200px;
  border-radius: 10px;
    background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}



.category-name-product-h p{ color: rgb(0, 0, 0);font-size: 15px;text-align: center;padding: 2px;}


@media (max-width: 768px) {
  .product-category-h {
    width: 120px;

  }
  
  
  
  .category-name-image-h img{
    width: 100%;
    height:120px;
  }
  

  .category-name-product-h p{font-size: 11px;}


  .lfarsh{width: 30px;}
}




