.downloadleads{
    background: #2b2b2b;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all .3s;
    box-shadow: 0 4px 15px #3b3b3b4d;
}