.logocontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


.locationsearchdiv{
  width: 100%;
    display: flex;
    justify-content: flex-start;
}

.loginbut{ 
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  border:1px solid #0097ff;}

.animated-serachicon {
  color: black !important;
  display: inline-block;
  font-size: 14px; /* original size */
  animation: rotateThenZoom 1.5s linear;
  animation-delay: 0.5s;
}

@keyframes rotateThenZoom {
  0% {
    transform: rotate(0deg);
   
  }
  33% {
    transform: rotate(360deg);
   
  }
  66% {
    transform: rotate(360deg);
    font-size: 22px;
  }
  100% {
    transform: rotate(360deg);
    font-size: 14px;
  }
}


  /* Responsive Design */
  @media (max-width: 768px) {

    .SearchProducts{
      max-width: 230px !important;
    }

   
  }
