
  
  /* ///// swiperjs  */

.swiper-slide {
  position: relative;
  width: 100%;
 aspect-ratio: 16 / 9;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  border-radius: 10px;
}

.swiper-slide img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}



  @media (max-width: 768px) {
    


    .container__slider {

      height:250px;
  
    }
    
    /* .swiper-slide {
  height: fit-content;
}

.swiper-slide img {
  object-fit: contain;
} */


  }

