
.header {
  display: flex;
  align-items: center;
gap: 20px;
margin: 5px;
}

.back-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}


.add-product-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
  align-items:center ;

}

 input,select,textarea{background-color: #F4F7FB;}

.add-category-location{display: flex;flex-direction: column; gap: 20px;}

.basic-info,
.add-category-location {

  padding: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.basic-info h2,
.add-category h2,
.add-location h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {

  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

 .icon87{width: 400px;}

.input-group input,
.input-group textarea,
.category-actions select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}



.create-new {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.create-new i {
  font-size: 14px;
}

 @media (max-width: 1046px) {
      .icon87{width: 300px;}
     }
